@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local(""), url(../fonts/static/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url(../fonts/static/OpenSans/OpenSans-Bold.ttf);
}

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    width: 100vw;
}

a {
    color: white;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1180px;
      padding: 0 120px;
    }
  }