@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local(""), url(/fonts/static/OpenSans/OpenSans-Light.ttf);
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local(""), url(/fonts/static/OpenSans/OpenSans-Bold.ttf);
  }
  body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #1D2631;
  }
  
  a {
    color: white;
  }